__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
poetry.lock
jspm_packages/
.npm
%USERPROFILE%
operational_data.db
*.db
backups/
sent_emails/
scratch/
